* {
    margin: 0;
    padding: 0;
}



h1 {color: #ffffff; font-size: 280%; margin-left: 22%;margin-top:3%;}
body {background-image: url("https://wallpaperaccess.com/full/39632.jpg");
          background-position: center;
          background-repeat: no-repeat;
          border:none;
        min-height:2000px;       
        }
h2{color:rgb(10, 10, 10); margin-left:46%;}
h4{ color:rgb(10, 10, 10); margin-left:46%;}        
p {font-size: 150%}

.ul {
    list-style-type: none;
    margin-right: 100;
    padding:0;
  
}

.box {
    background-color: rgb(255, 255, 255);
  width: 10%;
  border: 7px solid rgb(62, 13, 152);
  padding: 50px;
 margin-left: 23%;
 margin-top: 2%;
 
  } 

  .sidenav {
    height: 99%;
    width: 25%;
    position: fixed;
    z-index:-1;
    top: 0;
    left: 0;
    overflow-x: show;
    margin-left: 20%;
    margin-top:0px;;
    opacity:"0.6";
    border: 7px solid rgb(62, 13, 152);
  }
  .sidenav2 {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index:-1;
    top: 0;
    left: 0;
    overflow-x: show;
    margin-left: 45%;
    background-color: #ffffff;
    color: #ffffff;
    border: 7px solid rgb(62, 13, 152);
  }  
  
 
  

